@import 'partials/reset';

$primary_color: #ff7d21;
$secondary_color: #BB0A21;
$thirdinary_color: #6B9080;
$off_white: #FFF9FB;
$off_black: #020F0F;

$primary_font: 'Raleway', sans-serif;
$title_font: 'Roboto Slab', serif;
// $title_font: 'Open Sans', sans-serif;

section {
  height:650px;

  h2 {
    padding: 10px;
    padding-top: 25px;
    font-size: 32px;
  }
}

nav {
  height: 80px;
  padding: 0 50px;
  background-color: $primary_color;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;

  ul a:hover {
    background-color: $primary_color;
    text-decoration: underline;
  }

  h3 {
    font-size: 35px;
  }
}

body {
  font-family: $primary_font;

  h1, h2, h3, h4, h5, h6 {
    font-family: $title_font;
  }
}

header {
  position: relative;
  height: 95vh;
  width: 100%;
  margin-top: 80px;
  // background-image: url('images/background2.jpeg');
  // background-size: cover;
  // background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $off_white;
  text-align: center;

  h1 {
    font-size: 300%;
    margin: 10px 0;
    text-shadow: 2px 2px 3px $off_black;
  }

  h3 {
    font-size: 350%;
    text-shadow: 2px 2px 3px $off_black;
  }

  div {
    background-image: url("images/background2crop.png");
    width: 100%;
    opacity: 0.7;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    background-size: cover;
    background-repeat: no-repeat;

  }

}

#projects {
  padding: 65px 0;

}

#technologies {
  .row {
    padding-top: 50px;
  }

  i {
    font-size: 90px;
  }
  .col {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
  }
}

.card {
  height: 460px;

  .card-content p {
    font-size: 18px;
  }

  .card-action a {
    font-size: 20px;
  }
}
