@import 'partials/reset';

$primary_color: #4A8FE7;
$off_white: #FFF9FB;
$off_black: #020F0F;

$primary_font: 'Raleway', sans-serif;
$title_font: 'Roboto Slab', serif;

section {
  padding: 20px 0;

  h2 {
    padding: 10px;
    padding-top: 25px;
    font-size: 32px;
  }
}

nav {
  height: 80px;
  padding: 0 50px;
  background-color: $primary_color;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;

  ul a:hover {
    background-color: $primary_color;
    text-decoration: underline;
  }

  h3 {
    font-size: 32px;
    min-width: 91px;
  }
}

body {
  font-family: $primary_font;

  h1, h2, h3, h4, h5, h6 {
    font-family: $title_font;
  }
}

header {
  position: relative;
  height: 95vh;
  width: 100%;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $off_white;
  text-align: center;

  h1 {
    font-size: 300%;
    margin: 10px 0;
    text-shadow: 2px 2px 3px $off_black;
  }

  h3 {
    font-size: 350%;
    text-shadow: 2px 2px 3px $off_black;
  }

  div {
    background-image: url("images/background2crop_low.jpg");
    width: 100%;
    opacity: 0.7;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    background-size: cover;
    background-repeat: no-repeat;

  }

}

#about {
  padding-top: 75px;

  #me {
    display: flex;
    justify-content: space-evenly;
    margin-top: 65px;

    img {
      border-radius: 30px;
      width: 200px;
      height: 300px;
    }

    .bio-links {
      display: flex;
      flex-direction: column;
      align-items: center;

      a {
        font-size: 53px;
        padding: 15px 0;
      }
    }

    #bio {
      width: 40%;
      font-size: 22px;
      padding: 20px;
    }

  }
}

#projects {
  padding-top: 70px;

  .row {
    padding-top: 50px;
  }
}

#technologies {
  padding-top: 70px;

  .row {
    padding-top: 50px;
  }

  i {
    font-size: 90px;
  }
  .col {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
  }
}

.card {
  height: 460px;

  .card-content p {
    font-size: 18px;
  }

  .card-action {
    display: flex;
    justify-content: space-between;
  }

  .card-action a {
    margin-top: 10px;
    font-size: 20px;
  }
}

#contact {
  form {
    width: 45%;
    margin: 30px auto;
    border: 1px solid $off_black;
    border-radius: 8px;
    padding: 30px;
  }

  label {
    color: $off_black;
  }

  label > textarea {
    margin-top: 10px;
  }

  button {
    display: block;
    width: 100px;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    padding: 6px;
    border-radius: 5px;
  }

  button:focus {
    background-color: #e4e4e4;
  }
}

footer {
  height: 70px;
  background-color: $primary_color;

  .links {
    width: 200px;
    margin: 0 auto;
    text-align: center;
    padding-top: 15px;
  }

  a {
    color: $off_white;
    font-size: 40px;
    padding: 0 5px;
    cursor: pointer;
  }
}
